        body{
            font-family: 'Exo 2', sans-serif;
            background-color: black;
            overflow: hidden;
            user-select: none;
        }

        h2{
            color: whitesmoke;
            font-size: 22px;
            font-weight: unset;
        }

        .background{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            border-radius: 0px;
            transition: 3.5s;
            overflow: hidden;
        }
        
        .videoBack{
            object-fit: cover;
            transform: scale(2);
            opacity: 0.22;
            width: 100%;
            height: 100%;
        }

        .color-overlay{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            width: 100%;
            height: 100vh;
            z-index: 0;
            opacity: 0.1;
        }

        .img-logo{
            width: 600px;
            height: 300px;
            animation: fadeInImg 2s ease;
        }

        .container{
            overflow: hidden;
            position: relative;
            display: flex;
            gap: 30px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            z-index: 2;
            animation: fadeInUp 2s ease;
        }

        .container button{
            border-radius: 4px;
            width: 22rem;
            height: 65px;
            font-family: 'Exo 2', sans-serif;
            font-size: 18px;
            transition: .2s;
        }

        .container button span{
            margin-left: 10px;
        }

        .game{
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: rgb(200, 255, 0);
            color: rgb(0, 0, 0);
            font-family: 'Exo 2', sans-serif;
            font-size: 18px;
        }

        .game:hover{
            background-color: rgb(156, 199, 0);
            cursor: pointer;
        }

        .game > img {
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }

        .trailer{
            border: solid 1px rgb(255, 255, 255);
            background-color: transparent;
            color: rgb(255, 255, 255);
            font-family: 'Exo 2', sans-serif;
            font-size: 18px;
        }

        .trailer:hover{
            background-color: rgb(255, 255, 255);
            font-weight: bolder;
            color: rgb(0, 0, 0);
            cursor: pointer;
        }

        


        @media (max-width: 1280px) and (min-width: 768px) {
            .container button{
                height: 70px;
                font-size: 1.2rem;
            }

            .img-logo{
                width: 600px;
                height: 300px;
            }
        }
        
        @media (max-width: 767px) {
            .container button{
                width: 80%;
                height: 60px;
            }

            .img-logo{
                width: 350px;
                height: 175px;
            }
        }

        
        @keyframes fadeIn{
            0%{
                opacity: 0;
                transform: translate(0, -50%);
            }

            100%{
                opacity: 1;
                transform: translate(-50%, -50%);
                animation: zoom 15s ease infinite;
            }
        }

      
        @keyframes zoom {
            0% {
                transform: translate(-50%, -50%) scale(1);
            }
            50% {
                transform: translate(-50%, -50%) scale(1.1);
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
            }
        }
 


        
        @keyframes fadeInImg{
            0%{
                opacity: 0;
                
            }

            100%{
                opacity: 1;
            }
        }

        

        @keyframes fadeInUp{
            0%{
                opacity: 0;
                transform: translateY(20%);
                
            }

            100%{
                opacity: 1;
                transform: translateY(0);
            }
        }
